.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background: url('/src/images/Backgroud.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.App-header {
  margin: 20px;
}

h1 {
  color: #ff6f61;
  font-size: 2.5rem;
}

p {
  color: #0a0a0a;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button {
  background-color: #ff6f61;
  color: white;
}

.create-account-button {
  background-color: #4caf50;
  color: white;
}

button:hover {
  opacity: 0.9;
}

.header-gif {
  width: 150px; /* Adjust size */
  height: auto;
  margin-bottom: 20px; /* Space below the GIF */
  animation: float 2s infinite ease-in-out; /* Optional floating animation */
}

/* Optional Animation */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}