.Deliverer-Page {
    text-align: center;
    padding: 50px;
    font-family: 'Georgia', serif;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  h4 {
    color: #00003e;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
  }
  
  li:hover {
    background-color: #b1a4a4;
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .back-button {
    margin-top: 20px;
    background-color: #6c757d;
    color: white;
  }

  ::-webkit-scrollbar {
    width: 1vw;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 1);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

